In [27]:
# pip install scikit-learn 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

import pandas as pd

In [5]:
df = pd.read_csv('camera_dataset.csv')

df.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,Agfa ePhoto 1280,1997,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0,179.0
1,Agfa ePhoto 1680,1998,1280.0,640.0,1.0,38.0,114.0,50.0,0.0,4.0,420.0,158.0,179.0
2,Agfa ePhoto CL18,2000,640.0,0.0,0.0,45.0,45.0,0.0,0.0,2.0,0.0,0.0,179.0
3,Agfa ePhoto CL30,1999,1152.0,640.0,0.0,35.0,35.0,0.0,0.0,4.0,0.0,0.0,269.0
4,Agfa ePhoto CL30 Clik!,1999,1152.0,640.0,0.0,43.0,43.0,50.0,0.0,40.0,300.0,128.0,1299.0

In [13]:
df.fillna(0, inplace=True)

In [14]:
features = df.drop(['Price', 'Model', 'Release date'], axis=1)

features.head()

,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions
0,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0
1,1280.0,640.0,1.0,38.0,114.0,50.0,0.0,4.0,420.0,158.0
2,640.0,0.0,0.0,45.0,45.0,0.0,0.0,2.0,0.0,0.0
3,1152.0,640.0,0.0,35.0,35.0,0.0,0.0,4.0,0.0,0.0
4,1152.0,640.0,0.0,43.0,43.0,50.0,0.0,40.0,300.0,128.0

In [15]:
label = df[['Price']]
label.head()

    Price
0   179.0
1   179.0
2   179.0
3   269.0
4  1299.0

In [16]:
# fit , transform, fit_transform, predict

In [40]:
for i in range(1, 10):
    knn = KNeighborsRegressor(n_neighbors=i, p=1)
    knn.fit(features, label)
    print(i , knn.score(features, label) )

1 0.9701058214812637
2 0.8646775890721277
3 0.7729628371756667
4 0.7202995582470129
5 0.7019274561679597
6 0.6586299820369004
7 0.6146931053283591
8 0.5718593575195825
9 0.5395857094117242

In [22]:
features[0:1]

,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions
0,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0

In [25]:
knn.predict(features[0:5])

array([[252.33333333],
       [212.33333333],
       [179.        ],
       [225.66666667],
       [535.66666667]])

In [26]:
label[0:5]

    Price
0   179.0
1   179.0
2   179.0
3   269.0
4  1299.0

In [29]:
tree = DecisionTreeRegressor()
tree.fit(features, label)
tree.score(features, label) # R2

0.9852487912513298

In [32]:
tree.predict(features[0:10])

array([ 179.,  179.,  179.,  269., 1299.,  179.,  179.,  149.,  139.,
        139.])

In [33]:
label[0:10]

    Price
0   179.0
1   179.0
2   179.0
3   269.0
4  1299.0
5   179.0
6   179.0
7   149.0
8   139.0
9   139.0